/*  colors, buttons, headings, other utilities */
h1,
h2,
h3,
h4 {
  color: var(--bs-primary);
}

.profile-header {
  color: var(--bs-primary);
  font-weight: 600;
  font-size: 1.25rem;
}

.profile-title {
  font-weight: 600;
}

/*  navigation bar  */
.logo-name {
  font-size: 1.5rem;
  line-height: 1;
  font-weight: 800;
  color: var(--bs-primary);
}

.navbar-light .navbar-nav .nav-link:hover {
  color: var(--bs-primary);
}

/*  index.html */
.scroll-down {
    font-size: 2.5rem;
    margin-top: 1rem;
    margin-bottom: 1rem;
}

.scroll-down:hover {
  /* box-shadow: 0 1px 4px 0 rgb(0 0 0 / 15%), 0 2px 8px 0 rgb(0 0 0 / 15%); */
  opacity: 0.75;
  transform: scale(1.05);
  outline: 0;
}

/* form with multiple steps adapted from w3schools */
form #profileCreationForm {
  background-color: #ffffff;
  margin: 100px auto;
  padding: 40px;
  width: 70%;
  min-width: 300px;
}

.tab {
  display: none;
}

.step {
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbbbbb;
  border: none;
  border-radius: 50%;
  display: inline-block;
  opacity: 0.5;
}

.step.active {
  opacity: 1;
}

.step.finish {
  background-color: #04AA6D;
}