<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]>      <html class="no-js"> <![endif]-->
<html lang="en">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta http-equiv="X-UA-Compatible" content="ie=edge">
<meta name="Description" content="Enter your description here"/>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootswatch/4.6.0/sandstone/bootstrap.min.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
<link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}" type="text/css">
<title>Panda</title>
</head>
    <body>

        <header>
            <!-- header taken with help from material bootstrap -->
            <nav class="nav-extended recipedia-text nav-design">
                <div class="nav-wrapper">
                    <a href="{{ url_for('home')}}" class="recipedia-logo brand-logo">Panda</a>
                    <ul class="right hide-on-med-and-down">
                        <li><a href="{{ url_for('home')}}" class="menu-items recipedia-text">Home</a></li>
                        <li><a href="{{ url_for('companies') }}" class="menu-items recipedia-text">Companies</a></li>
                        <li><a href="{{ url_for('create_profile') }}" class="menu-items recipedia-text">Create a Company Profile</a></li>
                        </li>
                    </ul>
                </div>
            </nav>
    
            <!-- sidenav -->
            <ul class="sidenav" id="mobile-demo">
                <li><a href="{{ url_for('home')}}" class="menu-items recipedia-text">Home</a></li>
                <li><a href="{{ url_for('companies') }}" class="menu-items recipedia-text">Companies</a></li>
                <li><a href="{{ url_for('create_profile') }}" class="menu-items recipedia-text">Create a Company Profile</a></li>
            </ul>
        </header>
        
          <!-- Main Content -->
          <div class="container">
            {% block content %}
            {% endblock %}
          </div>
        
          <hr>
        
        
          <!-- Bootstrap core JavaScript -->
          <script src="{{url_for('static', filename='js/jquery.min.js') }}"></script>
          <script src="{{url_for('static', filename='js/bootstrap.min.js') }}"></script>
        
          <!-- Custom scripts for this template -->
          <script src="{{url_for('static', filename='js/clean-blog.min.js') }}"></script>
          <script>
              $('#copyright').text(new Date().getFullYear());
          </script>
        
    </body>
</html>