<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]>      <html class="no-js"> <![endif]-->
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <!-- <meta name="Description" content="Enter your description here" /> -->
    <link rel="icon" type="image/x-icon" href="{{ url_for('static', filename='img/panda-project-favicon.png') }}" />
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}" type="text/css">
    <title>Panda Project</title>
</head>

<body>
    <header>
        <!-- header taken with help from material bootstrap -->
        <!-- <nav class="nav-extended recipedia-text nav-design">
            <div class="nav-wrapper">
                <a href="{{ url_for('home')}}" class="recipedia-logo brand-logo">Panda</a>
                <ul class="right hide-on-med-and-down">
                    <li><a href="{{ url_for('home')}}" class="menu-items recipedia-text">Home</a></li>
                    <li><a href="{{ url_for('companies') }}" class="menu-items recipedia-text">Companies</a></li>
                    <li><a href="{{ url_for('create_profile') }}" class="menu-items recipedia-text">Log In</a></li>
                    </li>
                </ul>
            </div>
        </nav> -->
        <nav class="navbar navbar-expand-md navbar-light bg-light">
            <div class="container-fluid">
                <a class="navbar-brand" href="#">
                    <div class="d-flex align-items-center">
                        <img src="{{ url_for('static', filename='img/panda-project-logo.png') }}" alt="Panda Project logo" height="60" class="d-inline-block align-text-top">
                        <div class="logo-name ms-2">Panda<br>Project</div>
                    </div>
                </a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse justify-content-end" id="navbarNav">
                    <ul class="navbar-nav align-items-end">
                        <li class="nav-item">
                            <a class="nav-link" href="{{ url_for('home')}}">Home</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="{{ url_for('companies') }}">Companies</a>
                        </li>
                        {% if session.user %}
                        <li class="nav-item">
                            <a class="nav-link" href="{{ url_for('create_profile') }}">Create Profile</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="{{ url_for('logout') }}">Log Out</a>
                        </li>
                        {% else %}
                        <li class="nav-item">
                            <a class="nav-link" href="{{ url_for('login')}}">Login</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="{{ url_for('signup')}}">Sign Up</a>
                        </li>
                        {% endif %}
                    </ul>
                </div>
            </div>
        </nav>
    </header>

    <!-- Main Content -->
    <main>
        {% block content %}

        {% endblock %}
    </main>

    <!-- Footer -->
    <hr>
    <footer>
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-md-10 mx-auto">
                    <ul class="list-inline text-center">
                        <li class="list-inline-item">
                            <a href="#">
                                <span class="fa-stack fa-sm">
                                    <i class="fas fa-circle fa-stack-2x"></i>
                                    <i class="fab fa-twitter fa-stack-1x fa-inverse"></i>
                                </span>
                            </a>
                        </li>
                        <li class="list-inline-item">
                            <a href="#">
                                <span class="fa-stack fa-sm">
                                    <i class="fas fa-circle fa-stack-2x"></i>
                                    <i class="fab fa-facebook-f fa-stack-1x fa-inverse"></i>
                                </span>
                            </a>
                        </li>
                        <li class="list-inline-item">
                            <a href="#">
                                <span class="fa-stack fa-sm">
                                    <i class="fas fa-circle fa-stack-2x"></i>
                                    <i class="fab fa-github fa-stack-1x fa-inverse"></i>
                                </span>
                            </a>
                        </li>
                    </ul>
                    <p class="copyright text-center text-muted">Copyright &copy; Panda Project <span id="copyright"></span></p>
                </div>
            </div>
        </div>
    </footer>

    <!-- Log in modal -->
    <div class="modal fade" id="logInModal" tabindex="-1" aria-labelledby="LogIn" aria-hidden="true" data-backdrop="false">
        <div class="modal-dialog">
            <div class="modal-content card">
                <div class="modal-header">
                    <h5 class="modal-title text-primary" id="logInModalLabel">Log In</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <form id="logInForm" class="my-3" aria-label="Log in form">
                        <input class="form-control mb-2" type="text" name="username" id="username" aria-label="Email address" placeholder="Username &#42;" required>
                        <input class="form-control mb-2" type="password" name="password" id="password" aria-label="Password" placeholder="Password &#42;" required>
                        <button type="submit" class="btn btn-primary" role="button">Log In</button>
                    </form>
                    <p class="muted">Not a user yet? <a href="{{ url_for('create_profile') }}">Sign up</a></p>
                </div>
            </div>
        </div>
    </div>


    <!-- Bootstrap core JavaScript and jQuery -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js" integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>

    <!-- Custom scripts for this template -->
    <script src="{{url_for('static', filename='js/scripts.js') }}"></script>

</body>

</html>
