{% extends "base.html" %}
{% block content %}

<section class="hero-section vh-100">
    <div class="container text-center d-flex flex-column justify-content-center align-items-stretch px-4 h-100">

        <h1>Is my workplace accessible?</h1>
        <form class="d-flex" id="search-companies">
            <input class="form-control me-2" type="search" placeholder="Type a company, industry, region" aria-label="Search">
            <button class="btn btn-outline-primary" type="submit">Search</button>
        </form>
        <p class="mt-3 lead">Panda Project let's you know we are thinking of you!</p>

        <a href="#about-us"><i class="fas fa-arrow-circle-down scroll-down"></i></a>

        <div class="align-items-end">
            <img src="../static/img/inclusive-workplace.png" class="img-fluid align-items-end" alt="illustration of inclusive workplace">
        </div>
    </div>
</section>

<section id="about-us">
    <div class="container">
        <h2>About Panda Project</h2>
        <p>We are all about the Personable, Accessible, Nourishing, Diverse and Amazing workspaces. You can search 
            companies and check out what they are doing to make this happen. In this phase, the app is available for 
            companies to sign up and create a profile for them. A set of questions are provided and companies are 
            encouraged to give as detailed description as possible. Through this process, companies are pushed to 
            RETHINK and perhaps REVAMP their workplace to make it more accessible to all.</p>
    </div>

</section>




{% endblock %}