{% extends "base.html" %}
{% block content %}

<section class="d-flex flex-column justify-content-center flex-grow-1 vh-100">
    <div class="sign-up-wrapper p-4">
        <div class="card">
            <div class="card-header d-flex align-items-center">
                <div class="d-inline">Login with <span class="text-primary">P.A.N.D.A.</span></div>
                <div><img src="{{ url_for('static', filename='img/panda-project-logo.png') }}" alt="Panda Project logo" height="60" class="d-inline-block ms-3 align-text-top"></div>
            </div>
            <div class="card-body">
                <form action="{{ url_for('login') }}" method="POST">
                    <div class="row mb-3">
                        <div class="col">
                            <input type="text" class="form-control" placeholder="Username" aria-label="First name" name="username" required>
                        </div>
                    </div>

                    <div class="row mb-3">
                        <div class="col">
                            <input type="password" class="form-control" placeholder="Password *" aria-label="Password" name="password" minlength="6" required>
                        </div>
                    <button type="submit" class="btn btn-primary btn-lg mt-4">Submit</button>
                </form>
            </div>
        </div>
    </div>
</section>


{% endblock %}