{% extends "base.html" %}
{% block content %}
<section class="my-5 w-75 mx-auto">
    <div class="container">
        
        <p>Broken Dreams Boulevard 11</p>
        <p>Company size:</p>
        <p>Industry</p>

    </div>

    <hr>

    <div class="profile-wrapper card bg-light mb-4">
        <div class="card-header profile-header">
            Approach & Entrances
        </div>
        <div class="card-body">
            <div class="mb-5">
                <p class="profile-title">Describe parking possibility at the company location.</p>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore
                    et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut
                    aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
                    cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in
                    culpa qui officia deserunt mollit anim id est laborum</p>
            </div>

            <div class="mb-5">
                <p class="profile-title">Describe the entrance to the company location.</p>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore
                    et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut
                    aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
                    cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in
                    culpa qui officia deserunt mollit anim id est laborum</p>
            </div>

        </div>
    </div>

    <div class="profile-wrapper card bg-light mb-4">
        <div class="card-header profile-header">
            Facilities
        </div>
        <div class="card-body">
            <div class="mb-5">
                <p class="profile-title">Describe the toilets at the company location.</p>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore
                    et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut
                    aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
                    cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in
                    culpa qui officia deserunt mollit anim id est laborum</p>
            </div>

            <div class="mb-5">
                <p class="profile-title">Describe the office layout.</p>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore
                    et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut
                    aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
                    cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in
                    culpa qui officia deserunt mollit anim id est laborum</p>
            </div>

            <div class="mb-5">
                <p class="profile-title">Describe the social area.</p>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore
                    et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut
                    aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
                    cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in
                    culpa qui officia deserunt mollit anim id est laborum</p>
            </div>

            <div class="mb-5">
                <p class="profile-title">Special equipments</p>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore
                    et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut
                    aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
                    cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in
                    culpa qui officia deserunt mollit anim id est laborum</p>
            </div>

            <div class="mb-5">
                <p class="profile-title">Others</p>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore
                    et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut
                    aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
                    cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in
                    culpa qui officia deserunt mollit anim id est laborum</p>
            </div>

        </div>
    </div>

    <div class="profile-wrapper card bg-light mb-4">
        <div class="card-header profile-header">
            Assistive Technology
        </div>
        <div class="card-body">
            <div class="mb-5">
                <p class="profile-title">Assistive technologies available</p>
                <ul>
                    <li>Screen reading software</li>
                    <li>Captioning available at meetings</li>
                </ul>
            </div>

            <div class="mb-5">
                <p class="profile-title">Others</p>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore
                    et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut
                    aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
                    cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in
                    culpa qui officia deserunt mollit anim id est laborum</p>
            </div>
        </div>
    </div>

    <div class="profile-wrapper card bg-light mb-4">
        <div class="card-header profile-header">
            Working Flexibility
        </div>
        <div class="card-body">
            <div class="mb-5">
                <p class="profile-title">The flexibility of work</p>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore
                    et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut
                    aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
                    cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in
                    culpa qui officia deserunt mollit anim id est laborum</p>
            </div>
        </div>
    </div>

    <div class="profile-wrapper card bg-light mb-4">
        <div class="card-header profile-header">
            Human resource policies
        </div>
        <div class="card-body">
            <div class="mb-5">
                <p class="profile-title">Does the company have policies ensuring that the recruitment process is
                    accessible to persons with different disabilities?</p>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore
                    et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut
                    aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
                    cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in
                    culpa qui officia deserunt mollit anim id est laborum</p>
            </div>
            <div class="mb-5">
                <p class="profile-title">Does the company have policies and resources which ensure the provision of
                    reasonable accommodation, allowing people with disabilities to work in your organisation?</p>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore
                    et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut
                    aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
                    cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in
                    culpa qui officia deserunt mollit anim id est laborum</p>
            </div>
        </div>
    </div>

    <div class="profile-wrapper card bg-light mb-4">
        <div class="card-header profile-header">
            An Inclusive Company Culture
        </div>
        <div class="card-body">
            <div class="mb-5">
                <p class="profile-title">Does the company have a supportive and inclusive workplace?</p>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore
                    et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut
                    aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
                    cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in
                    culpa qui officia deserunt mollit anim id est laborum</p>
            </div>
            <div class="mb-5">
                <p class="profile-title">Does the company have an anti-bullying policy in your workplace?</p>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore
                    et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut
                    aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
                    cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in
                    culpa qui officia deserunt mollit anim id est laborum</p>
            </div>
            <div class="mb-5">
                <p class="profile-title">Does the company promote an inclusive culture in your workplace through
                    cultural awareness training for those who are culturally and linguistically diverse?</p>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore
                    et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut
                    aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
                    cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in
                    culpa qui officia deserunt mollit anim id est laborum</p>
            </div>
        </div>
    </div>

    <div class="profile-wrapper card bg-light mb-4">
        <div class="card-header profile-header">
            Media
        </div>
        <div class="card-body">
            <div class="row">
                <div class="col-12 col-md-6 col-lg-4 mb-2">
                    <img src="{{ company.bannerImg }}" alt="{{ company.companyBannerDesc }}" class="w-100 img rounded">
                </div>
                <div class="col-12 col-md-6 col-lg-4 mb-2">
                    <img src="{{ company.companyImg1 }}" alt="{{ company.companyImg1Desc }}" class="w-100 img rounded">
                </div>
                <div class="col-12 col-md-6 col-lg-4 mb-2">
                    <img src="{{ company.companyImg2 }}" alt="{{ company.companyImg2Desc }}" class="w-100 img rounded">
                </div>
                <div class="col-12 col-md-6 col-lg-4 mb-2">
                    <img src="{{ company.companyImg3 }}" alt="{{ company.companyImg3Desc }}" class="w-100 img rounded">
                </div>
                <div class="col-12 col-md-6 col-lg-4 mb-2">
                    <img src="{{ company.companyImg4 }}" alt="{{ company.companyImg4Desc }}" class="w-100 img rounded">
                </div>
                <div class="col-12 col-md-6 col-lg-4 mb-2">
                    <img src="{{ company.companyImg5 }}" alt="{{ company.companyImg5Desc }}" class="w-100 img rounded">
                </div>
            </div>
        </div>
    </div>
</section>

{% endblock %}